.prof_area{
  display: none;
}
#network{
  height: 600px !important;
}

/* .prof_area{
  display: flex;
  justify-content: center;
} */
.prof_area{
  text-align: center;
}
.prof_area_title{
  text-align: center;
}
.content_are{
  display: flex;
  justify-content: center;
} 
span {
  background:linear-gradient(transparent 60%, #ff6 60%);
}
.topt{
  background:linear-gradient(transparent 60%, #00bfff 60%);
}
.container-fluid{
  display: flex;
  justify-content: space-around;
  align-items: center;
}